<!DOCTYPE html>
html lang="en"
head
	meta charset="UTF-8"/
	title Document
	link rel="stylesheet" href="css/style.css"/
body
	button Check12345910
	.main-block#toggle
		h2 Рестораны
		.inner-block
			img src="img/first.jpg" alt="first"/
			h4 Амроц на Невском
			p кухня: армянская
			img.second src="img/second.jpg" alt="second"/
			h4.second Океан
			p.second кухня: Русская, Европейская, Кавкасзкая
		.triangle
		a href="#" Посмотреть все предложения
	script src="js/jquery-1.9.0.js"
	script src="js/main.js"